<div style="width: 15%; height: 78%; text-align: center; border: solid 1px; position: absolute; left: 0.5%; top: 1%;">
    <p><strong> Active users</strong></p>
    <%- @users.each do |x| %>
        <%- unless x.id == @user.id %>
            <button style="border: solid 1px green; background-color: white; margin: 2px;", onclick="open_chat(<%= x.id %>, '<%= x.name %>')"><%= "#{x.name}, last seen: #{x.last_seen}" %></button>
        <% end %>
    <% end %>
</div>

<div style="width: 99%; height: 19%; text-align: left; border: solid 1px; position: absolute; left: 0.5%; bottom: 1%;">
    <div  style="height: 100%; width: 100%; padding: 0.5%;">
        <textarea id="chat_text" type="text-area" style="height: 100%; width: 90%; resize: none;"></textarea>
    </div>
</div>

<button id="send_btn" onclick="send_message();" style="height: 17%; width: 9.5%; position: absolute; right: 1%; bottom: 2%;">click a user</button>

<div id="chat_box" style="width: 83.5%; height: 78%; border: solid 1px; position: absolute; right: 0.5%; top: 1%; margin: 1px;">
    <p><strong id="rec_name"> Click a user to start chatting!</strong><p>
    <div id="conv" style="border: solid grey 1px; padding: 1px; margin: 0.5%; height: 90%; overflow-y: scroll">

    </div>
</div>

<p hidden id="current_user"><%= session[:user_id] %></p>
<p hidden id="recip"></p>
<p hidden id="recip_name"></p>

<script src="https://js.pusher.com/4.3/pusher.min.js"></script>
<script>
    
    document.getElementById("send_btn").disabled = true;

    function update_scroll(){
        var chat_box = document.getElementById("conv");
        chat_box.scrollTop = chat_box.scrollHeight;
    }

    function open_chat(recipient, u_name){
        btn = document.getElementById("send_btn");
        btn.innerHTML = "Send";
        btn.disabled = false;
        box = document.getElementById("rec_name");
        box.innerHTML = u_name;
        hid = document.getElementById("recip");
        hid.innerHTML = recipient;
        hid_2 = document.getElementById("recip_name");
        hid_2.innerHTML = u_name;
        data = {recip: recipient}
        update_scroll();
        $.ajax({
            url: "/load_chat",
            data: data,
            method: "get",
            success: function(data){
                data = JSON.parse(data);
                // console.log(data);
                var text = ""
                for(var i in data){
                    b = data[i]["sender_id"] == recipient
                    text += "<p style='text-align:" + (b ? "right" : "left") + ";'>" + (b ? u_name : "me") + ": <strong>" + data[i]["content"] + "</strong><br/><i>Time: " + data[i]["created_at"] + "</i></p>";
                    // if(data[i]["sender_id"] == recipient)
                    // console.log(data[i]);
                }
                document.getElementById("conv").innerHTML = text;
                update_scroll();
            }
        })
        
    }

    function send_message(){
        recip = document.getElementById("recip").innerHTML;
        content = document.getElementById("chat_text").value;
        document.getElementById("chat_text").value = "";
        data = {recip: recip, content: content};
        if(content == "")
            return;
        $.ajax({
            url: "/add_message",
            data: data,
            method: "post",
            complete: function(data){
                setTimeout(open_chat(recip, document.getElementById("recip_name").innerHTML), 1000);
            }
        })
    }

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('d3f3c4fa89029581de82', {
      cluster: 'eu',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
        user = document.getElementById("current_user").innerHTML;
        if((data["sender"] == user || data["recipient"] == user) && document.getElementById("recip_name").innerHTML != "")
            open_chat(document.getElementById("recip").innerHTML, document.getElementById("recip_name").innerHTML)
    });
</script>